name: Deploy Jekyll
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/jekyll-build-pages@v1
      - uses: actions/deploy-pages@v1
