name: Deploy Jekyll
on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/configure-pages@v5
      
      - uses: actions/jekyll-build-pages@v1
        with:
          source: ./
          destination: ./_site
      
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./_site
          retention-days: 1

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4