name: Deploy Jekyll
on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/jekyll-build-pages@v1
      - uses: actions/deploy-pages@v1
